@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
:root {
  --bg-color: #191919;
  --accent-color: #118DA8;
}
body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--bg-color);
  color: #ffff;
}
[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 70px;
}

button {
  background: var(--accent-color);
  color: var(--text-color);
  cursor: pointer;
  &:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }
}


// ------Header------
.header {
  padding: 45px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }  
  &__logo {
    max-width: 160px;
    margin: -20px;  
  }
}
.menu {
  &__links {
    display: flex;
    align-items: center;
    gap: 40px;
  }
 
  &__link {
    font-weight: 400;
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
    color: var(--accent-color);
    transition: color 0.3s;
    }         
  }

label #btn,
label #cancel{
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display:none;
}
}

@media(max-width:962px){
  .header{
    label #btn{
      display: block;
    }

    .menu{
      &__links{
        position: absolute;
        display: block;
        top: 100px;; right:100px;
        background: white;
        width: 200px;
        height: 250px;
        z-index: 1;
        
        
      }

      &__link{
        display: block;
        margin: 20px;
       color: black;
      
        
      }
    }
  }
}







main {
  overflow: hidden;
}

// -----Hero-----

.hero {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    padding-top: 40px;
    position: relative;
    &::before {
      content: url(../images/hero-decor.svg);
      position: absolute;
      top: 13px;
      left: -28px;
    } 
  }
  &__content {
    padding-left: 80px; 
  }

  &__title {
    padding-top: 180px;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 3.2px;
  }
   &__contacts {
    margin-top: 90px;
    padding-left: 20px;
   }

  &__contacts-text {
    font-weight: 400;
    font-size: 16px;
  }
  &__contacts-icons {
    display: flex;
    padding-top: 20px;
    gap: 17px;
    cursor: pointer;
  }
  &__contacts-icons img {
    border-radius: 50%;
  }
}
.hero-img {
  border-radius: 20px;
}

h1 .next {
  font-size: 75px;
  position: relative;
  &::after{
    content: url(../images/blue-line.svg);
    position: absolute;
    top: 5px;
    left: 0;
    right: 0; 
  }
}
h1 .bold {
  font-size: 80px;
  font-weight: 700;
}
.spotify {
  &:hover,
  &:focus {
   color: #39c539;
   box-shadow: 0 0 24px 0 #39c539;
  }
}
.pocketcasts {
  &:hover,
  &:focus {
   color: #fa291a;
   box-shadow: 0 0 24px 0 #fa291a;
  }
}
.soundcloud {
  &:hover,
  &:focus {
   color: #f77947;
   box-shadow: 0 0 24px 0 #f77947;
  }
}
.itunes {
  &:hover,
  &:focus {
   color: #df58f1;
   box-shadow: 0 0 24px 0 #df58f1;
  }
}
.overcast {
  &:hover,
  &:focus {
   color: #ffffffe0;
   box-shadow: 0 0 24px 0 #ffffffe0;
  }
}




// -----Episode-----

.episode {
  padding-top: 90px;


  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px; 
  }
  
  &__headertext {
    font-size: 64px;
    font-weight: 400; 
  }
  
  &__header-button {
    width: 170px;
    height: 50px;
    border-style: none;
    font-size: 17px;
    font-weight: 400;
    border-radius: 6px;
  }
  
  &__part {
    display: flex;
    padding: 40px;
    margin-bottom: 60px;
    background-color: #000000;
    border-radius: 32px;
  }
  
  &__info {
    padding: 10px 50px;
  }
  
  &__section{
    width: 70px;
    height: 25px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 48px;
    background-color: #191919;
  }
  
  &__tips-tricks {
    width: 140px;
    height: 25px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 48px;
    background-color: #191919;
  }
  
  &__order {
    font-size: 17px;
    color: var(--accent-color);
  }
  
    &__title {
    font-size: 64px;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: 2.56px;
    margin-top: 18px;
    margin-bottom: 28px;  
  }
  
  &__desc {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 30px;
  }
  
  &__button {
    height: 51px;
    width: 208px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 6px;
    color: var(--text-color);
    background-color:var(--accent-color);
  }
}


// -----About-----

.about {
  padding-top: 200px;
  &__container {
    display: flex;
    align-items: center;
    gap: 95px;
    
  }
&__btn-image {
  padding-bottom: 20px;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    transition: 0.2s;
 } 
} 

&__title {
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 2.88px;
  padding-bottom: 30px;
}
&__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 33px;
}

}
.leadin {
  font-weight: 400;
  font-size: 18px;
  color: var(--accent-color);
}


.subscribe {
  padding-top: 200px;
  
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background-color: #000000;
    border-radius: 32px;
    position: relative;
    &::before {
      content: url(../images/design.svg);
      position: absolute;
      top: 330px;
      left: -40px;
    } 
  
  }

  &__email {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 30px;
    color: var(--accent-color);
  }

  &__title {
    width: 430px;
    height: 160px;
    font-size: 72px;
    font-weight: 400;
    line-height: 80px;
  }

  &__contacts {
    display: flex;
    flex-direction:column;
    gap: 20px;
    margin-bottom: 20px; 
  }

  input {
    width: 522px;
    height: 82px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 6px;
    color:var(--text-color);
    background: #191919;
    border-style: none;
    &:hover {
      background-color: #212121;
    }
  }

  ::placeholder {
    font-size: 24px;
    font-weight: 400;
    padding: 30px 20px;
    color: #FFFFFFB2;
    line-height: 29px;
  }

  &__submit {
    width: 87px;
    height: 48px;
    border-radius: 6px;
    color:var(--text-color);
    background:var(--accent-color);
  }
 }

// -----Customers-----

.customers {
  padding-top: 200px;
  &__reviews {
    display: flex;
    gap: 16px; 
  }

  &__review-card {
    width: 423px;
    background-color: #000000;
    padding: 50px;
    border-radius: 30px;
  } 
  &__ratings img {
    &:hover{
      transform: rotate(45deg);
    
    }
  }
  
  &__review-text {
    font-size: 36px;
    font-weight: 400;
    padding-top: 18px;
  }
  &__name {
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 20px;
  }
}
.lower {
  height: 370px;
  margin-top: 16px;

}


// Footer

.footer{
  padding: 200px 0;
  

&__logo-section{
  margin-right: 30px;
  line-height: 30px;
}

&__central-section{
  display: flex;
  font-size: 17px;
  font-weight: 400;
  line-height:30px; 
  justify-content: center;
  gap: 145px;
  margin-top: -75px;

}

&__icons-section{
  display: flex;
  margin-top: -180px;
  justify-content:end;
  gap: 18px;
  margin-right: 150px;
}
}


